<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="post">
        <label for="first_name">First name:</label>
        <input type="text" name="first_name" id="first_name">
        <label for="last_name">Last name:</label>
        <input type="text" name="last_name" id="last_name">
        <label for="email">Email:</label>
        <input type="email" required name="email" placeholder="john@example.com" id="email" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <input type="checkbox" name="is_teacher" id="is_teacher" value="true">
        <label for="is_teacher">Join as a teacher.</label>
        <input type="submit">
    </form>
    <p>Already a member?<a href="/login"> Login.</a></p>
</body>
</html>