.container-main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container-sub{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgba(119, 119, 119, 0.12);
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  background-color: #ffffff;
  margin-bottom: 10px;
}
.container-top{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.avatar{
  padding-left: 10px;
}
.marks-details{
  padding-right: 10px;
  text-align: right;
}

.avatar h5, .marks-details p{
  margin: 0;
  color: rgb(255, 118, 68);
}
.container-middle h4{
  margin: 0;
  color: rgb(7, 20, 42);
}
.container-middle{
  width: 100%;
  text-align: justify;
}
.container-middle .details{
  padding: 0 20px;
}
.container-bottom{
  /* border: 1px solid red; */
  width: 100%;
}
.container-bottom button{
  margin-top: 20px;
  background-color: rgb(149, 255, 184);
  /* background-color: #fffcbc; */
  width: 100%;
  height: 45px;
  border: 1px solid rgba(174, 173, 173, 0.342);
  border-radius: 40px;
}
.container-bottom button:hover{
  background-color: rgb(255, 190, 147);
}
.files{
  display: flex;
  align-items: center;
  padding: 0 20px;

}
.files a{
  width: 20%;
  height: 220px;
  margin-right: 10px;
}
.assignments{
  width: 100%;
  height: 220px;
  background-color: rgb(234, 234, 234);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #bbb1b1;
  /* border: 1px solid rgb(255, 137, 255); */

}
.img{
  /* width: 100%; */
  height: 160px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.file-download-btn{
  height: 60px;
  width: 100%;
  font-size: 13px;
  margin: 0;
  padding: 0 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  background-color: rgb(248, 248, 248);
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  /* border-top: 1px solid blue; */
}
.file-download-btn:hover{
  background-color: rgb(248, 248, 248);
}
a:hover{
  text-decoration: none;

}

code {
  background-color: #1b2438;
  color: rgb(255, 255, 255);
} 