<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 page not found</title>
    <style>
        body{
        background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow: hidden;
        }
        h1{
            font-size: 5rem;
            text-align: center;
        }
        h3, p{
            text-align: center;
            font-size: 1.3rem;
        }
        a{
            display: block;
            margin: 0 auto;
            width: 100px;
            background-color: rgba(75, 164, 31, 0.828);
            text-align: center;
            padding: 1rem;
            text-decoration: none;
            color: #fff;
        }
    </style>
  </head>
  <body>
    <div class="contant_box_404">
        <h1>404</h1>
        <h3>Look like you're lost</h3>

        <p>The page you are looking for not avaible!</p>

        <a href="/dashboard">Go to Home</a>
    </div>
  </body>
</html>
